<div>
  <h1 class="bg-blue-300 text-center py-[20px] uppercase font-bold shadow-lg">Reactive form</h1>
</div>

<form class="px-[20px] py-[20px]" [formGroup]="registrationForm">
  <div>
    <label class="block mb-2 text-sm font-medium text-gray-700"> username </label>
    <input
      formControlName="username"
      type="text"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full px-2.5 py-2 shadow-sm placeholder-gray-400"
      placeholder="Enter text..."
      required
      [ngClass]="
        username?.touched && username?.invalid ? 'border-red-500  border' : 'border-gray-200'
      "
    />
  </div>
  @if (username?.touched && username?.invalid) {
    @if (username?.errors?.['required']) {
      <div class="text-red-400">username must be required</div>
    }
    @if (username?.errors?.['minlength']) {
      <div class="text-red-400">username must be at least 4 characters</div>
    }
    @if (username?.errors?.['foundingWord']) {
      <div class="text-red-400">
        username {{ username?.errors?.['foundingWord'].word }} is forbidden
      </div>
    }
  }
  <div>
    <label for="visitors2" class="block mb-2 text-sm font-medium text-gray-700"> password </label>
    <input
      formControlName="password"
      type="password"
      id="visitors2"
      [ngClass]="
        registrationForm.errors?.['misMatch'] && confirmPassword?.touched
          ? 'border border-red-500'
          : ''
      "
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full px-3 py-2.5 shadow-sm placeholder-gray-400"
      placeholder="Enter text..."
      required
    />
  </div>
  <div>
    <label for="visitors2" class="block mb-2 text-sm font-medium text-gray-700">
      confirm password
    </label>
    <input
      formControlName="confirmPassword"
      type="password"
      id="visitors2"
      [ngClass]="
        registrationForm.errors?.['misMatch'] && confirmPassword?.touched
          ? 'border border-red-500'
          : ''
      "
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full px-3 py-2.5 shadow-sm placeholder-gray-400"
      placeholder="Enter text..."
      required
    />
  </div>
  @if (registrationForm.errors?.['misMatch'] && confirmPassword?.touched) {
    <p class="text-red-500">passwordMisMatch</p>
  }
  <div>
    <label for="visitors3" class="block mb-2 text-sm font-medium text-gray-700"> email </label>
    <input
      formControlName="email"
      type="text"
      id="visitors3"
      [ngClass]="getEmail?.errors?.['required'] ? 'border border-red-500' : ''"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full px-3.5 py-3 shadow-sm placeholder-gray-400"
      placeholder="Enter text..."
    />
  </div>
  <div class="pt-[20px]">
    <input
      formControlName="subscribe"
      id="checked-checkbox"
      type="checkbox"
      class="w-4 h-4 border border-default-medium rounded-xs bg-neutral-secondary-medium focus:ring-2 focus:ring-brand-soft"
    />
    <label for="checked-checkbox" class="select-none ms-2 text-sm font-medium text-heading"
      >subscript</label
    >
  </div>
  <div>
    <label for="visitors3" class="block mb-2 text-sm font-medium text-gray-700"> phone </label>
    <input
      formControlName="phone"
      type="text"
      id="visitors3"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full px-3.5 py-3 shadow-sm placeholder-gray-400"
      placeholder="add number phone"
    />
    <div formArrayName="alternativePhone">
      @for (phone of alternativePhone.controls; track $index; let i = $index) {
        <input
          [formControlName]="i"
          type="text"
          id="visitors3"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full px-3.5 py-3 shadow-sm placeholder-gray-400"
          placeholder="add number phone"
        />

        <button
          class="bg-red-300 px-3.5 py-3 rounded-[5px] cursor-pointer"
          (click)="removePhone(i)"
        >
          remove phone
        </button>
      }
    </div>

    <button
      (click)="addPhone()"
      class="bg-blue-300 mt-[10px] px-[7px] py-[5px] rounded-[5px] cursor-pointer"
    >
      add Phone
    </button>
  </div>

  <div formGroupName="address">
    <div>
      <label for="visitors3" class="block mb-2 text-sm font-medium text-gray-700"> province </label>
      <input
        formControlName="province"
        type="text"
        id="visitors3"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full px-3.5 py-3 shadow-sm placeholder-gray-400"
        placeholder="Enter text..."
        required
      />
    </div>

    <div>
      <label for="visitors4" class="block mb-2 text-sm font-medium text-gray-700"> district </label>
      <input
        formControlName="district"
        type="text"
        id="visitors4"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full px-4 py-3.5 shadow-sm placeholder-gray-400"
        placeholder="Enter text..."
        required
      />
    </div>
    <div>
      <label for="visitors4" class="block mb-2 text-sm font-medium text-gray-700"> commune </label>
      <input
        formControlName="commune"
        type="text"
        id="visitors4"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-base rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full px-4 py-3.5 shadow-sm placeholder-gray-400"
        placeholder="Enter text..."
        required
      />
    </div>
  </div>
  <div class="pt-[20px]">
    <button
      (click)="save()"
      [disabled]="registrationForm.invalid"
      [ngClass]="registrationForm.invalid ? 'cursor-not-allowed opacity-[0.5]' : 'cursor-pointer'"
      class="border bg-green-400 px-[10px] py-[10px] rounded-lg"
    >
      save
    </button>
  </div>
</form>

<div>
  <h1 class="pt-[20px]">data: {{ registrationForm.value | json }}</h1>
</div>
